@charset "UTF-8";

/*
em HTML é id    = em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(160, 243, 160);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(11, 137, 11);
}

h1#principal {
    text-align: center;
    background-color: rgb(8, 115, 8);
    color: white;
}

h2 {
    color: rgb(65, 165, 65);
}

.basico {
    color: rgb(65, 165, 65);
    font-weight: bold;
}

.intermediario {
    color: rgb(169, 177, 14);
}

.avancado {
    color: rgb(228, 18, 18);
}

.destaque {
    background-color: #c5c56070;
}